[Unit]
Description=UDP2Raw Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{.ExceutionPath}}udp2raw --conf-file /usr/local/etc/vnci/udp2raw/{{.Port}}.conf

[Install]
WantedBy=multi-user.target